<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://personalfinancesmanager.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-blu-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>personalfinancesmanager</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$personalfinancesmanager</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:sdlhvqcwb8.database.windows.net,1433;Initial Catalog=pfmdb;User ID=julianosouza@sdlhvqcwb8;Password=!3368azpfm#" Name="Data Source=tcp:sdlhvqcwb8.database.windows.net,1433;Initial Catalog=pfmdb;User Id=julianosouza@sdlhvqcwb8;Password=!3368azpfm#" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PersonalFinancesManager.Models.MainContext, PersonalFinancesManager" MigrationConfiguration="PersonalFinancesManager.Migrations.Configuration, PersonalFinancesManager" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sdlhvqcwb8.database.windows.net,1433;Initial Catalog=pfmdb;User Id=julianosouza@sdlhvqcwb8;Password=!3368azpfm#</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>