@{
    ViewBag.Title = "Gerenciador Financeiro Pessoal";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup>
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p class="lead">
                @ViewBag.Message
            </p>
            <a class="btn btn-large btn-success" href="#">Get started today</a>
        </div>
    </section>
}

@section footer{
    <div class="span4">
        <h2>Despesas</h2>
        <p>Neste módulo você irá cadastrar as suas despesas.
        Elas serão catalogadas e poderão ser filtradas ou expostas em um
        gráfico para melhor visualização.</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Categorias</h2>
        <p>Utilize este módulo para cadastrar novas categorias.</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Formas de pagamento</h2>
        <p>Utilize este módulo para cadastrar novas formas de pagamento.</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
}
<h3>Sugerimos o seguinte:</h3>
<ol class="round">
    <li class="one">
        <h5>Configure a aplicação</h5>
        Crie categorias e formas de pagamento que façam sentido para você.
    </li>

    <li class="two">
        <h5>Cadastre algumas despesas</h5>
        Entre no módulo de despesas e cadastre algumas, sempre buscando colocá-las em uma
        categoria própria.
    </li>

    <li class="three">
        <h5>Visualize suas despesas</h5>
        Vá ao módulo de visualização e obtenha informações sobre seus gastos.
    </li>
</ol>
