@{
    ViewBag.Title = "Categorias";
}
<script type="text/javascript">
    $(document).ready(function () {
        // Send an AJAX request
        $.getJSON("api/expensecategories/",
        function (data) {
            // On success, 'data' contains a list of products.
            $.each(data, function (key, val) {
                // Add a list item for the product.
                $('<tr><td>' + val.Name + '</td><td>' + val.Description + '</td></tr>')
                .appendTo($('#categorias'));
            });
        });
    });

    function save() {
        var name = $('#txtNome').val();
        var description = $('#txtDescricao').val();
        $.post("api/expensecategories", { Name: name, Description: description })
            .done(function (data) {
                $('<tr><td>' + name + '</td><td>' + description + '</td></tr>')
                .appendTo($('#categorias'));

                $('#txtNome').val('');
                $('#txtDescricao').val('');
            });
    }
</script>
<div>
    <table>
        <tr>
            <td>Nome: </td>
            <td>
                <input type="text" id="txtNome" /></td>
        </tr>
        <tr>
            <td>Descrição: </td>
            <td>
                <input type="text" aria-multiline="true" id="txtDescricao" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="button" id="btnSalvar" value="Salvar" onclick="save();" /></td>
        </tr>
    </table>
    <div>
        <h1>Todas as categorias</h1>
        <table id="categorias">
            <tr>
                <th>Nome</th><th>Descrição</th>
            </tr>
        </table>
    </div>
</div>
