<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script type="text/javascript">
       google.load("visualization", "1", { packages: ["corechart"] });
       //google.setOnLoadCallback(drawChart);
       function drawChart() {
    $.post('/Dashboard/DashboardExpensesByDate', {},
   function (data) {
       var tdata = new google.visualization.DataTable();
 
       tdata.addColumn('string', 'Mes');
       tdata.addColumn('number', 'Valor');
       tdata.addColumn('number', 'Despesa');
 
       for (var i = 0; i < data.length; i++) {
    tdata.addRow([data[i].Mes, data[i].Valor, data[i].Despesa]);
       }
 
       var options = {
           title: "Despesas, Gastos do período"
       };
 
       var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
       chart.draw(tdata, options);
   });
       }
   </script>

@{
    ViewBag.Title = "ExpensesByDate";
}

<h2>ExpensesByDate</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Gráfico de despesas filtradas por data</legend>

        <div class="editor-label">
            <span>De</span>
        </div>
        <div class="editor-field">
            @Html.Editor("beginDate")
        </div>

        <div class="editor-label">
            <span>Até</span>
        </div>
        <div class="editor-field">
            @Html.Editor("endDate")
        </div>

        @*<p>
            <input type="submit" value="Gerar Gráfico" />
        </p>*@
    </fieldset>
}

<input type="button" value="Gerar Gráfico" onclick="drawChart('teste')"/>

<div id="chart_div" style="width: 900px; height: 500px;"></div>