@model PersonalFinancesManager.Models.ExpenseCategory

@{
    ViewBag.Title = "ExpensesByCategory";
}

<h2>ExpensesByCategory</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Gráfico de despesas filtradas por categoria</legend>

        <div class="editor-label">
            <span>Categorias</span>
        </div>
        <div class="editor-field">
            @Html.ListBoxFor(model => model.Name, new MultiSelectList(Model.Categories, "Id", "Name") )
        </div>

        <p>
            <input type="submit" value="Gerar Gráfico" />
        </p>
    </fieldset>
}
