@{
    ViewBag.Title = "ExpensesByDate";
}

<h2>ExpensesByDate</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Gráfico de despesas filtradas por data</legend>

        <div class="editor-label">
            <span>De</span>
        </div>
        <div class="editor-field">
            @Html.Editor("beginDate")
        </div>

        <div class="editor-label">
            <span>Até</span>
        </div>
        <div class="editor-field">
            @Html.Editor("endDate")
        </div>

        <p>
            <input type="submit" value="Gerar Gráfico" />
        </p>
    </fieldset>
}
