@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Despesas filtradas por data", "ExpensesByDate")
</p>
<p>
    @Html.ActionLink("Despesas filtradas por categoria", "ExpensesByCategory")
</p>
